In [1]:
# Dependencies.
import pandas as pd
from pathlib import Path

In [2]:
# Establish file paths for csv files.
csv_path_5 = Path("Resources/NIBRS_ARRESTEE.csv")
csv_path_18 = Path("Resources/NIBRS_OFFENDER.csv")
csv_path_19 = Path("Resources/NIBRS_OFFENSE.csv")
csv_path_20 = Path("Resources/NIBRS_OFFENSE_TYPE.csv")
csv_path_23 = Path("Resources/NIBRS_PROPERTY.csv")
csv_path_30 = Path("Resources/NIBRS_VICTIM.csv")
csv_path_31 = Path("Resources/NIBRS_LOCATION_TYPE.csv")
csv_path_32 = Path("Resources/REF_RACE.csv")
csv_path_33 = Path("Resources/NIBRS_ETHNICITY.csv")

In [3]:
# Read in the csv files.
csv_5 = pd.read_csv(csv_path_5)
csv_18 = pd.read_csv(csv_path_18)
csv_19 = pd.read_csv(csv_path_19)
csv_20 = pd.read_csv(csv_path_20)
csv_23 = pd.read_csv(csv_path_23)
csv_30 = pd.read_csv(csv_path_30)
csv_31 = pd.read_csv(csv_path_31)
csv_32 = pd.read_csv(csv_path_32)
csv_33 = pd.read_csv(csv_path_33)

In [4]:
# Merge files
Incident_ID = pd.merge(csv_5, csv_19, on = "INCIDENT_ID", how = "outer")
Incident_ID_2 = pd.merge(Incident_ID, csv_18, on = "INCIDENT_ID", how = "inner")
Unique = len(Incident_ID_2["INCIDENT_ID"].unique())
Unique

461161

In [5]:
# Find number of rows and columns
Incident_ID_2.shape

(740072, 35)

In [6]:
# Create function
def get_offense(ID):
    return csv_20.loc[csv_20["OFFENSE_TYPE_ID"] == ID, "OFFENSE_CATEGORY_NAME"]

In [7]:
# Associate offense ID number with type of offense
Incident_ID_2["OFFENSE_TYPE"] = ""
for index, row in Incident_ID_2.iterrows():
    Incident_ID_2.loc[index, "OFFENSE_TYPE"] = (get_offense(row["OFFENSE_TYPE_ID_y"]).values[0])

In [8]:
# Find number of different offenses 
Incident_ID_2.loc[0, "OFFENSE_TYPE_ID_y"]

16

In [9]:
# Print df
Incident_ID_2.head()

,DATA_YEAR_x,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID_x,AGE_ID_x,AGE_NUM_x,...,OFFENDER_ID,OFFENDER_SEQ_NUM,AGE_ID_y,AGE_NUM_y,SEX_CODE_y,RACE_ID_y,ETHNICITY_ID_y,AGE_RANGE_LOW_NUM_y,AGE_RANGE_HIGH_NUM_y,OFFENSE_TYPE
0,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,121952436,2,5.0,24.0,F,1.0,2.0,24.0,0.0,Drug/Narcotic Offenses
1,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,121952435,1,5.0,33.0,M,1.0,2.0,33.0,0.0,Drug/Narcotic Offenses
2,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,121952436,2,5.0,24.0,F,1.0,2.0,24.0,0.0,Drug/Narcotic Offenses
3,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,121952435,1,5.0,33.0,M,1.0,2.0,33.0,0.0,Drug/Narcotic Offenses
4,2018.0,32122485.0,107758111,1.0,17-AUG-18,2.0,N,35.0,5.0,24.0,...,121952436,2,5.0,24.0,F,1.0,2.0,24.0,0.0,Drug/Narcotic Offenses

In [10]:
# Get visual of df format
#Incident_ID_2.to_csv("..2018/Incident_ID_2.csv", index=False, header=True)

In [11]:
# Merge to get location type, print df
Incident_ID_3 = pd.merge(Incident_ID_2, csv_31, on = "LOCATION_ID", how = "inner")
Incident_ID_3.head()

,DATA_YEAR_x,ARRESTEE_ID,INCIDENT_ID,ARRESTEE_SEQ_NUM,ARREST_DATE,ARREST_TYPE_ID,MULTIPLE_INDICATOR,OFFENSE_TYPE_ID_x,AGE_ID_x,AGE_NUM_x,...,AGE_ID_y,AGE_NUM_y,SEX_CODE_y,RACE_ID_y,ETHNICITY_ID_y,AGE_RANGE_LOW_NUM_y,AGE_RANGE_HIGH_NUM_y,OFFENSE_TYPE,LOCATION_CODE,LOCATION_NAME
0,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,5.0,24.0,F,1.0,2.0,24.0,0.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
1,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,5.0,33.0,M,1.0,2.0,33.0,0.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
2,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,5.0,24.0,F,1.0,2.0,24.0,0.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
3,2018.0,32122486.0,107758111,2.0,17-AUG-18,3.0,N,48.0,5.0,33.0,...,5.0,33.0,M,1.0,2.0,33.0,0.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
4,2018.0,32122485.0,107758111,1.0,17-AUG-18,2.0,N,35.0,5.0,24.0,...,5.0,24.0,F,1.0,2.0,24.0,0.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage

In [33]:
# Remove unnecessary columns
Incident_ID_4 = Incident_ID_3.drop(["DATA_YEAR_x", "ARRESTEE_ID", "INCIDENT_ID", "ARRESTEE_SEQ_NUM",
"MULTIPLE_INDICATOR", "RACE_ID_x", "RESIDENT_CODE", "UNDER_18_DISPOSITION_CODE", "CLEARANCE_IND", "AGE_RANGE_LOW_NUM_x",
"AGE_RANGE_HIGH_NUM_x", "DATA_YEAR_y", "NUM_PREMISES_ENTERED", "METHOD_ENTRY_CODE", "OFFENDER_SEQ_NUM",
"AGE_RANGE_LOW_NUM_y", "AGE_RANGE_HIGH_NUM_y"],
    axis = 1)
Incident_ID_4.head()

,ARREST_DATE,ARREST_TYPE_ID,OFFENSE_TYPE_ID_x,AGE_ID_x,AGE_NUM_x,SEX_CODE_x,ETHNICITY_ID_x,OFFENSE_ID,OFFENSE_TYPE_ID_y,ATTEMPT_COMPLETE_FLAG,...,DATA_YEAR,OFFENDER_ID,AGE_ID_y,AGE_NUM_y,SEX_CODE_y,RACE_ID_y,ETHNICITY_ID_y,OFFENSE_TYPE,LOCATION_CODE,LOCATION_NAME
0,17-AUG-18,3.0,48.0,5.0,33.0,M,2.0,132204096,16,C,...,2018,121952436,5.0,24.0,F,1.0,2.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
1,17-AUG-18,3.0,48.0,5.0,33.0,M,2.0,132204096,16,C,...,2018,121952435,5.0,33.0,M,1.0,2.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
2,17-AUG-18,3.0,48.0,5.0,33.0,M,2.0,132204097,35,C,...,2018,121952436,5.0,24.0,F,1.0,2.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
3,17-AUG-18,3.0,48.0,5.0,33.0,M,2.0,132204097,35,C,...,2018,121952435,5.0,33.0,M,1.0,2.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage
4,17-AUG-18,2.0,35.0,5.0,24.0,F,2.0,132204096,16,C,...,2018,121952436,5.0,24.0,F,1.0,2.0,Drug/Narcotic Offenses,18,Parking/Drop Lot/Garage

In [44]:
# Create function
def get_race(ID):
    return csv_32.loc[csv_32["REF_RACE"] == ID, "RACE_DESC"]

In [53]:
# Associate offense ID number with type of offense
Incident_ID_4["RACE"] = ""
for index, row in Incident_ID_4.iterrows():
    Incident_ID_4.loc[index, "RACE"] = (get_race(row["RACE_ID_y"]).values[0])

IndexError: index 0 is out of bounds for axis 0 with size 0

In [35]:
# Merge to get race, print df
Incident_ID_5 = pd.merge(Incident_ID_4, csv_32, on = "RACE_ID_y", how = "inner")
Incident_ID_4.head()

KeyError: 'RACE_ID_y'

In [ ]:
# Merge to get ethnicity, print df
Incident_ID_5 = pd.merge(Incident_ID_4, csv_33, on = "ETHNICITY_ID", how = "inner")
Incident_ID_4.head()